<div data-role="header">
  <h1><%= @merchant.name %> <strong><em>(<%= @merchant.status %>)</em></strong></h1>
	<%= link_to 'Home', merchants_url, "class" => "ui-btn-right", "data-icon" => "home", "data-iconpos" => "notext", "data-ajax" => "false" %>
</div>
 
<div data-role="content" data-theme="b">
	<ul data-role="listview">
<!-- g -->
	 <li data-theme="b" class="ui-btn ui-btn-icon-right ui-li ui-btn-up-b">
		<div class="ui-btn-inner ui-li">
			<div class="ui-btn-text">
				<h3 class="ui-li-heading"><%= @merchant.name %></h3>
				<p class="ui-li-desc">Status: <strong><em>(<%= @merchant.status %>)</em></strong></p>
				<p class="ui-li-desc">Business Type: <%= @merchant.merchant_type %></p>
				<p class="ui-li-desc">Device Type: <%= @merchant.merchant_device_type %></p>
				<p class="ui-li-desc">Tax ID: <%= @merchant.tax_id %></p>
				<p class="ui-li-desc">
					 Address: <%= full_address(@merchant) %>
				</p>
				<p class="ui-li-desc">Contact:</p>
				<p class="ui-li-desc"><%= @merchant.contact_name %></p>
				<p class="ui-li-desc">(P): <%= @merchant.phone_number %></p>
				<p class="ui-li-desc">(F): <%= @merchant.fax %></p>
				<p class="ui-li-desc">Email: <%= mail_to @merchant.email %></p>
			</div>
		 </div>
		</li>
	</ul>

</div>


