<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @merchant.name %>
</p>

<p>
  <b>Street:</b>
  <%= @merchant.street %>
</p>

<p>
  <b>City:</b>
  <%= @merchant.city %>
</p>

<p>
  <b>State:</b>
  <%= @merchant.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @merchant.zipcode %>
</p>

<p>
  <b>Country:</b>
  <%= @merchant.country %>
</p>

<p>
  <b>Phone number:</b>
  <%= @merchant.phone_number %>
</p>

<p>
  <b>Fax:</b>
  <%= @merchant.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @merchant.email %>
</p>

<p>
  <b>Tax:</b>
  <%= @merchant.tax_id %>
</p>

<p>
  <b>Contact name:</b>
  <%= @merchant.contact_name %>
</p>

<p>
  <b>Merchant type:</b>
  <%= @merchant.merchant_type %>
</p>

<p>
  <b>Merchant device type:</b>
  <%= @merchant.merchant_device_type %>
</p>

<p>
  <b>Status:</b>
  <%= @merchant.status %>
</p>


<%= link_to 'Edit', edit_merchant_path(@merchant) %> |
<%= link_to 'Back', merchants_path %>
