<h1>Listing merchants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>Phone number</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Tax</th>
    <th>Contact name</th>
    <th>Merchant type</th>
    <th>Merchant device type</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

	<% @places.each do |spot| %>
	  <tr>
	    <td><%= spot['name'] %></td>
	    <td><%= spot['vicinity'] %></td>
	    <td><%= image_tag(spot['icon']) %></td>
	    <td><%= link_to "Import", :controller => "merchants", :action => "import", :reference => spot['reference'] %></td>
	    <td><%= link_to "Show", :controller => "merchants", :action => "show", :reference => spot['reference'] %></td>
	  </tr>
	<% end %>

</table>

<br />

<%= link_to 'New Merchant', new_merchant_path %>
