<h1>Listing merchants</h1>

<table>
  <tr>
    <th>Name</th>
    <td>Address</td>
    <td>Type</td>
    <td></td>
    <td></td>
  </tr>

	<% @places.each do |spot| %>
	  <tr>
	    <td><%= spot['name'] %></td>
	    <td><%= spot['vicinity'] %></td>
	    <td><%= image_tag(spot['icon']) %></td>
	    <td><%= link_to "Import", :controller => "merchants", :action => "import", :reference => spot['reference'] %></td>
	    <td><%= link_to "Show", :controller => "merchants", :action => "show", :reference => spot['reference'] %></td>
	  </tr>
	<% end %>

</table>

<br />

<%= link_to 'New Merchant', new_merchant_path %>
