<h1>Listing merchants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Country</th>
    <th>Phone number</th>
    <th>Fax</th>
    <th>Email</th>
    <th>Tax</th>
    <th>Contact name</th>
    <th>Merchant type</th>
    <th>Merchant device type</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @merchants.each do |merchant| %>
  <tr>
    <td><%= merchant.name %></td>
    <td><%= merchant.street %></td>
    <td><%= merchant.city %></td>
    <td><%= merchant.state %></td>
    <td><%= merchant.zipcode %></td>
    <td><%= merchant.country %></td>
    <td><%= merchant.phone_number %></td>
    <td><%= merchant.fax %></td>
    <td><%= merchant.email %></td>
    <td><%= merchant.tax_id %></td>
    <td><%= merchant.contact_name %></td>
    <td><%= merchant.merchant_type %></td>
    <td><%= merchant.merchant_device_type %></td>
    <td><%= merchant.status %></td>
    <td><%= link_to 'Show', :action => "detail", :id => merchant %></td>
    <td><%= link_to 'Edit', edit_merchant_path(merchant) %></td>
    <td><%= link_to 'Destroy', merchant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Merchant', new_merchant_path %>
